.side{
        background-color: #3c4858;
        background-attachment: fixed;
        position: sticky;
}
.codemarka_logo {
    display: block;
    position: fixed;
    width: 300px;
}
.home-button {
    position: fixed !important;
    color: white !important;
}

.rocket-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.rocket-cont img {
    margin: 25% auto;
    opacity: 0.6;
}
