.alert-success{
    color: #fff;
    font-size: 20px;
    background-color: rgb(69, 190, 150);
    padding: 10px;
    width: 240px;
    border-radius: 7px;
    height: 100%;
}
.alert-title-success {
    /* float: right; */
    font-weight: bold;
    display: block;
    font-size: 15px;
    margin-bottom:5px;
}